.pestaña {
    width: 33%;
    text-align: center;
}

.condiciones {
    font-size: 12px;
    font-family: cabin;
}

.cuerpo{
    margin-top: 5%;
}

.titulo{
    font-size: 30px;
    font-family: cabin;
}