/* CSS Alvaro */
body {
    background-image: url("ds.jpg");
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    color: white;
    text-align: center;
}

/* Home */
.fondo {
    background-color: whitesmoke;
    padding: 0px;
}

.botonRed {
    color: whitesmoke;
    background-color: firebrick;
    border-radius: 3px;
}

.logo img {
    width: 130px;
    height: 100px;
    padding-left: 20px;
}

.logo span {
    font-size: 40px;
    font-family: 'Black Ops One';
    padding-left: 20px;
}

.cabecera {
    background-color: firebrick;
    border-radius: 10px;
}

#login {
    background-color: firebrick;
    color: white;
    border: 0px;
    border-radius: 3px;
    font-size: 17px;
}

#login:hover {
    background-color: darkred;
    color: whitesmoke;
    border: 0px;
    border-radius: 3px;
    font-size: 17px;
}

/* Info_Prod */
.portada{
    text-align: center;
}
.portada img{
    width: 100%;
    max-height: 250px;
    
}
.datos h4{
    font-size: 16px;
    color: #666;
    margin: 4px 0px;
    padding: 0px 0px 4px 0px;
    border-bottom: 2px solid #DDD;
}

.datos dt{
    float: left;
    margin-right: 8px;
}
.panel.panel-primary.respuesta{
    margin:0;
}
.comentarios header{
    text-align: center;
    padding: 0px;
}

.comentarios img{
    width: 70%;
}


.comentarios time{
    border-bottom: 1px solid #BDBDBD;
}
.puntuacion{
    border: 1px solid #BDBDBD;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    background-color: #FA5858;
    border-radius: 5px 10px;
    color: white;
    font-weight: bold;
}

.panel-heading{
    background: #FE2E2E;
}
.respuesta textarea{
    height: 200px;
    width: 100%;
   
}

.btn_respuesta{
    background: #FE2E2E;
}
#fav {
    margin: 4px 4px 0px 4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    padding: 0px;
}

#fav:hover {
    background: #00FF40;
}

#fav label {
    float:left;
    width:4.0em;
    margin: 0px;
    width: 100%;
}

#fav label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    font-size-adjust: auto;
    height: 30px;
}

#fav label input {
    position:absolute;
    top:-20px;
}

#fav input:checked + span {
    background-color:#911;
    color:#fff;
    text-align: center;
}

.red_hr {
    border-top: 4px solid firebrick;
    border-radius: 3px;
}

/* CATALOGO */
.fondo_catalogo p{
    margin:0px;
}
.fondo_catalogo ul{
    list-style: none;
    padding: 0px;
}


.fondo_catalogo .pestanas{
    background-color: whitesmoke;

}

.pestaña {
    width: 33%;
    text-align: center;
}

.filtro{
    padding: 0px;
}
.filtro button{
    background: firebrick;
    padding: 5px;
    color: white;
    font-weight: bold;
}
.categoria_mobile{
    margin-top: 5px;
}

.categoria.col-xs-12{
    display:
}
.listado li {
    display: inline-block;
    width: 20%;
    margin-bottom: 1%;
    border: 1px solid white;
}
.listado li:hover {
    background: #F6CECE;
    border: 1px solid #F2F2F2;
    
}
.listado a{
    text-decoration: none;
    color: black;
}

.categoria {
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    padding: 0px;
    float: right;
}
.categoria h4{
    margin: 0px;
    padding: 8px;
    text-align: center;
    background: firebrick;
    color: white;
}

.categoria a{
    color: black;
    text-decoration: none;
}
.categoria li {
    padding: 5px 5px 5px 5px;
}
.categoria li:hover{
    background: #F6CECE;
}


.col-md-9.pestanas{
    padding: 0px;
}

.col-md-9.pestanas ul{
    padding: 0px;
}

.listado img{
    width: 100%;
    margin-bottom: 3px;
    height: 100%;
}
.listado div{
    padding: 5px;
    text-align: center;
    font-size: 1.2vw;
}
/* FIN CATALOGO */

.logo img {
    width: 130px;
    height: 100px;
    padding-left: 20px;
}

.logo span {
    font-size: 40px;
    font-family: 'Black Ops One';
    padding-left: 20px;
}

@media screen and (max-width: 500px) {
  #nombre {
    font-size: 30px;
  }
}

@media screen and (max-width: 1100px) {
  #calendario {
    visibility: hidden;
  }
}

.cabecera {
    background-color: firebrick;
    border-radius: 10px;
}

.sesion {
    text-align: center;
}

.reg {
    text-align: center;
    font-size: 18px;
}

.record {
    padding-left: 40px;
}

.noticia {
    color: black;
}

.calendario {
    text-align: center;
}

#login {
    background-color: firebrick;
    color: white;
    border: 0px;
    border-radius: 3px;
    font-size: 17px;
}

#login:hover {
    background-color: darkred;
    color: whitesmoke;
    border: 0px;
    border-radius: 3px;
    font-size: 17px;
}

.cierre {
    font-size: 20px;
    background-color: firebrick;
    color: white;
    border: 0px;
    border-radius: 3px;
}

.cierre:hover {
    font-size: 20px;
    background-color: darkred;
    color: white;
    border: 0px;
    border-radius: 3px;
    align-content: center;
}

#mBody {
   text-align: center;
}

.margen {
    margin-bottom: 20px;
}

/* Análisis */
.aLista {
    padding-left: 0px;
}

.aLista li {
    list-style: none;
}

.filtro {
    padding-top: 20px; 
}

.fondoRed {
    background-color: firebrick;
    border-radius: 3px;
}

.logo2 img {
    width: 100px;
    height: 70px;
    padding-left: 20px;
}

.logo2 span {
    font-size: 30px;
    padding-left: 7px;
    font-weight: bold;
    color: whitesmoke;
}

.fondo2 {
    background-color: white;
    border: 1px solid gainsboro;
    padding-bottom: 20px;
}

.more {
    padding-bottom: 20px;
    text-align: center;
}

.icono {
    width: 25px;
    height: 23px;
}

@media screen and (max-width: 400px) {
  #spanTab {
    visibility: hidden;
  }
}

.cartel img{
    width: 200px;
    height: 250px;
    float: left;
}

.cartel p {
    padding-left: 230px;
}

@media screen and (max-width: 1000px) {
    .cartel img {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .cartel p {
        padding-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    #text {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

.negrita {
    font-weight: bold;
}

/* Colores de span */
#ps4 {
    color: blue;
}

#pc {
    color: red;
}

#xbox {
    color: limegreen;
}
/* Fin colores de span */

.aCuerpo {
    padding-top: 76px;
}

#imagenAnalisis {
    width: 800px;
    height: 550px;
    margin-bottom: 10px;
}

.aCuerpo div {
    
    margin-bottom: 10px;
}

.aCuerpo div p {
    border: 2px solid limegreen;
    border-radius: 2px;
    word-wrap: break-word;
    font-size: 50px;
}

@media screen and (max-width: 800px) {
    #imagenAnalisis {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
}
/* FIN CSS Alvaro */

.panel.panel-danger.respuesta{
    margin:0;
}
.comentarios header{
    text-align: center;
    padding: 0px;
}

.comentarios img{
    width: 70%;
}

.comentarios time{
    border-bottom: 1px solid #BDBDBD;
}

.respuesta textarea{
    height: 200px;
    width: 100%;
   
}

.btn_respuesta{
    background: firebrick;
}

.altura {
    height: 550px;
}
