<div *ngIf="visible && usuario.usuario == actual" class="row">
  <!-- Menu del perfil  -->
  <div class="col-md-2">
    <menu-component [usuario]='usuario' [actual]='actual'></menu-component>
  </div>
  <!-- Ajustes  -->
  <div class="col-md-10">
    <!-- Datos personales  -->
    <div class="panel panel-danger">
      <div class="panel-heading">
        Cambiar datos personales
      </div>
      <div class="panel-body">
        <div class="personales">
          <input *ngIf="visible && usuario.nombre == null" type="text" class="form-control" placeholder="Nombre">
          <div *ngIf="visible && usuario.nombre != null" class="input-group">
            <span  class="input-group-addon" id="basic-addon1"> Nombre </span>
            <input [(ngModel)]="usuario.nombre"  type="text" class="form-control" placeholder="{{usuario.nombre}}">
          </div>
        </div>
        <div class="personales">
          <input *ngIf="visible && usuario.apellidos == null" type="text" class="form-control" placeholder="Apellidos">
          <div *ngIf="visible && usuario.apellidos != null" class="input-group">
            <span  class="input-group-addon" id="basic-addon1"> Apellidos </span>
            <input [(ngModel)]="usuario.apellidos"  type="text" class="form-control" placeholder="{{usuario.apellidos}}">
          </div>
        </div>
        <div *ngIf="visible" class="input-group personales">
          <span  class="input-group-addon" id="basic-addon1"> Usuario </span>
          <input [(ngModel)]="usuario.usuario" type="text" class="form-control" placeholder="{{usuario.usuario}}">
          <span class="input-group-addon" id="basic-addon2"> * </span>
        </div>
        <div *ngIf="visible" class="input-group personales">
          <span  class="input-group-addon" id="basic-addon1"> Correo </span>
          <input [(ngModel)]="usuario.correo" type="text" class="form-control" placeholder="{{usuario.correo}}">
          <span class="input-group-addon" id="basic-addon2"> * </span>
        </div>
        <div class="personales">
          <input *ngIf="visible && usuario.cumpleanos == null" type="text" class="form-control" placeholder="Cumpleaños">
          <div *ngIf="visible && usuario.cumpleanos != null" class="input-group">
            <span  class="input-group-addon" id="basic-addon1"> Cumpleaños </span>
            <input [(ngModel)]="usuario.cumpleanos"  type="text" class="form-control" placeholder="{{usuario.cumpleanos}}">
            <span class="input-group-addon" id="basic-addon2"> dd/mm </span>
          </div>
        </div><div class="personales">
          <input *ngIf="visible && usuario.nacionalidad == null" type="text" class="form-control" placeholder="Nacionalidad">
          <div *ngIf="visible && usuario.nacionalidad != null" class="input-group">
            <span  class="input-group-addon" id="basic-addon1"> Nacionalidad </span>
            <input [(ngModel)]="usuario.nacionalidad"  type="text" class="form-control" placeholder="{{usuario.nacionalidad}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <span> * (Obligatorio) </span>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary"> Guardar </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Contraseña  -->
    <div class="panel panel-danger">
      <div class="panel-heading">
        Cambiar contraseña
      </div>
      <div class="panel-body">
        <div class="input-group personales">
          <input type="password" class="form-control" placeholder="Contraseña">
          <span class="input-group-addon" id="basic-addon2"> * </span>
        </div>
        <div class="input-group personales">
          <input type="password" class="form-control" placeholder="Nueva contraseña">
          <span class="input-group-addon" id="basic-addon2"> * </span>
        </div>
        <div class="input-group personales">
          <input type="password" class="form-control" placeholder="Repetir contraseña">
          <span class="input-group-addon" id="basic-addon2"> * </span>
        </div>
        <div class="row">
          <div class="col-md-10">
            <span> * (Obligatorio) </span>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary"> Guardar </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Privacidad  -->
    <div class="panel panel-danger">
      <div class="panel-heading">
        Privacidad
      </div>
      <div class="panel-body centrado">
        <span>Perfil</span>
        <seleccion-component></seleccion-component>
        <br>
        <br>
        <span>Contenido</span>
        <seleccion-component></seleccion-component>
        <br>
        <br>
        <span>Amigos</span>
        <seleccion-component></seleccion-component>
      </div>
    </div>
    <!-- Eliminar cuenta  -->
    <div class="panel panel-danger">
      <div class="panel-heading">
        Borrar cuenta
      </div>
      <div class="panel-body centrado">
        <p> Su cuenta será borrada para siempre y no podrá recuperarla. Al pulsar el botón de eliminar su cuenta será totalmente eliminada</p>
        <button type="submit" class="btn btn-danger"> Eliminar </button>
      </div>
    </div>
  </div>
</div>
