<div class="row">
  <!-- Menú del pefil  -->
  <div class="col-md-2">
    <menu-component></menu-component>
  </div>
  <!-- Amigos  -->
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body amigos">
        <ul class="amigos">
          <a href="#">
            <li>
              <img src="./img/avatar.png"/>
              <p> Usuario: alfredoSinDientes </p>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="./img/avatar.png"/>
              <p> Usuario: velocidadEscarlata </p>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="./img/avatar.png"/>
              <p> Usuario: podriaSerMejor </p>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="./img/avatar.png"/>
              <p> Usuario: sinCara </p>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="./img/avatar.png"/>
              <p> Usuario: peloQuemado </p>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="./img/avatar.png"/>
              <p> Usuario: web </p>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
