<div class="container" *ngIf="visible">
  <div class="cabecera">
      <div class="logo">
          <img src="./img/control.png"/>
          <span id="nombre">GAMER GENERATION</span>
      </div>
      <!-- Barra -->
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['Home']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="">Catálogo</a></li>
                      <li><a href="">Noticias</a></li>
                      <li><a [routerLink]="['Analisis']">Análisis</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right" *ngIf="!sesion.user || !sesion.pass"> <!--User sin logear-->
                      <li>
                          <a href="" id="log" role="button" aria-haspopup="true" aria-expanded="false"
                          data-toggle="modal" data-target="#myModal">
                          <span class="glyphicon glyphicon-user"></span> Login</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right" *ngIf="sesion.user && sesion.pass && sesion.loged"> <!--User logeado-->
                      <li>
                          <a href="" id="log2" role="button" aria-haspopup="true" aria-expanded="false"
                          data-toggle="modal" data-target="#myModal"><img id="usr_avatar" src="{{sesion.imagen}}"> {{sesion.usuario}}</a>
                      </li>
                  </ul>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document" id="mDialog">
                  <div class="modal-content" id="mContent" *ngIf="!sesion.user && !sesion.pass && !sesion.loged">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h3 class="sesion">Iniciar sesión</h3>
                    </div>

                    <!--Body sin login-->
                    <div class="modal-body">
                      <form class="margen">
                          <span>Usuario:</span>
                          <input type="text" class="form-control" placeholder="Nombre de usuario"
                          [(ngModel)]="sesion.usuario">
                      </form>
                      <form class="margen">
                          <span>Contraseña:</span>
                          <input type="password" class="form-control" placeholder="Contraseña"
                          [(ngModel)]="sesion.contrasena">
                      </form>
                      <button type="button" id="login" (click)="inicioSesion()">Entrar</button>
                      <label class="record"><input type="checkbox">Recuérdame</label>
                      <hr>
                      <div class="reg">
                          <span>
                          Si aún no estas registrado en nuestra web puedes hacerlo aquí:
                          </span>
                          <a type="button" class="btn btn-info" [routerLink]="['Registro']"
                          data-dismiss="modal" aria-label="Close">
                            Registrarse
                          </a>
                      </div>
                    </div>
                  </div>

                  <!--Datos erroneos-->
                  <div class="modal-content" id="mContent" *ngIf="((sesion.loged && !sesion.user) || (sesion.loged && !sesion.pass))">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h3 class="sesion">Iniciar sesión</h3>
                    </div>
                    <div class="modal-body">
                      <form class="margen">
                          <span>Usuario:</span>
                          <input *ngIf="sesion.user" type="text" class="form-control" placeholder="Nombre de usuario"
                          [(ngModel)]="sesion.usuario">
                          <input *ngIf="!sesion.user" id="err" type="text" class="form-control" placeholder="USUARIO INCORRECTO"
                          [(ngModel)]="sesion.usuario">
                      </form>
                      <form class="margen">
                          <span>Contraseña:</span>
                          <input *ngIf="sesion.pass" type="password" class="form-control" placeholder="Contraseña"
                          [(ngModel)]="sesion.contrasena">
                          <input *ngIf="!sesion.pass" id="err" type="password" class="form-control" placeholder="CONTRASEÑA INCORRECTA"
                          [(ngModel)]="sesion.contrasena">
                      </form>
                      <button type="button" id="login" (click)="inicioSesion()">Entrar</button>
                      <label class="record"><input type="checkbox">Recuérdame</label>
                      <hr>
                      <div class="reg">
                          <span>
                          Si aún no estas registrado en nuestra web puedes hacerlo aquí:
                          </span>
                          <a type="button" class="btn btn-info" [routerLink]="['Registro']"
                          data-dismiss="modal" aria-label="Close">
                            Registrarse
                          </a>
                      </div>
                    </div>
                  </div>

                  <!--Body con login -->
                  <div class="modal-content" id="mContent" *ngIf="sesion.user && sesion.pass && sesion.loged">
                    <div class="modal-body" id="mBody">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                      <h2>Ir a perfil:</h2>
                      <a type="button" class="btn btn-info" href="perfil.html">Perfil</a>
                      <hr>
                      <h3>Cierre de sesión</h3>
                      <button type="button" class="cierre" id="cerrar" (click)="cierreSesion()">Cerrar sesión</button>
                    </div>
                  </div>

                </div>
              </div><!-- Fin del Modal -->

          </div>
      </nav>
  </div>
  <router-outlet></router-outlet>
</div>
<my-footer></my-footer>
