<div class="row">
  <!-- Menú del pefil  -->
  <div class="col-md-2">
    <menu-component></menu-component>
  </div>
  <!-- Contenido  -->
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="tabpanel">
          <ul class="nav nav-tabs">
            <li class="active pestaña"><a data-toggle="tab" href="#vjuegos">Videojuegos</a></li>
            <li class="pestaña"><a data-toggle="tab" href="#series">Series</a></li>
            <li class="pestaña"><a data-toggle="tab" href="#peliculas">Peliculas</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="vjuegos" class="tab-pane fade in active">
            <ul class="listado">
              <li>
                <div>
                  <img src="img/xcom.jpg">
                  <p>XCOM 2</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="img/civ5.jpg">
                  <p>Civilization V</p>
                </div>
              </li>
            </ul>
          </div>
          <div id="series" class="tab-pane fade">
            <ul class="listado">
              <li>
                <div>
                  <img src="img/arrow.jpg">
                  <p>Arrow</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="img/twd.jpg">
                  <p>The Walking Dead</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="img/100.jpg">
                  <p>Los 100</p>
                </div>
              </li>
            </ul>
          </div>
          <div id="peliculas" class="tab-pane fade">
            <ul class="listado">
              <li>
                <div>
                  <img src="img/deadpool.jpg" class="img-responsive">
                  <p>Deadpool</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="img/creed.jpg">
                  <p>Creed</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="img/renacido.jpg">
                  <p>El Renacido</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
