ul.listado{
    display: inline-block;
    width: 20%;
    margin-bottom: 1%;
}
.listado{
  list-style: none;
}
ul.listado li:hover {
    background-color: firebrick;
}
.listado img{
    width: 100%;
    margin-bottom: 3px;
    height: 100%;
}
.listado div{
    padding: 5px;
    text-align: center;
    font-size: 1.2vw;
    color: black;
}
.panel-body{
    background-color: whitesmoke;
    color: black;
}
