<!-- Contenido perfil -->
<div *ngIf="visible && (usuario.datos.aPerfilTodos || (usuario.usuario == actual))" class="row">
  <!-- Menú del pefil  -->
  <div class="col-md-2">
    <menu-component [usuario]='usuario' [actual]='actual'></menu-component>
  </div>
  <!-- Contenido  -->
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul *ngFor="#contenido of usuario.datos.contenido" class="listado">
          <li>
            <div>
              <img src={{contenido.img}}>
              <p> {{contenido.name}} </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
