<div class="row">
  <!-- Menú del pefil  -->
  <div class="col-md-2">
    <menu-component></menu-component>
  </div>
  <!-- Contenido  -->
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row contenedor_catalogo">
    <ul class="pestanas_catalogo">
      <li (click)="gotoTipoprod(1)">Videojuegos
      </li><li (click)="gotoTipoprod(2)">Series
      </li><li (click)="gotoTipoprod(3)">Peliculas
      </li>
    </ul>
        <div class="col-sm-9 norelative ">
        <ul class="listado">
            <li *ngFor="#produc of list_producto" (click)="gotoDetalles(produc)" >
              <prod-detalle [prod]="produc" ></prod-detalle>
            </li>
        </ul></div>
    </div>
      </div>
    </div>
  </div>
</div>
