<a href="" class="noticia" *ngFor="#cont of contenido">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}
              <span class="label label-info" *ngIf="cont.tipo=='Noticia'">{{cont.tipo}}</span>
              <span class="label label-warning" *ngIf="cont.tipo=='Análisis'">{{cont.tipo}}</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="cartel">
                <img src="{{cont.multimedia}}">
                <p>{{cont.resumen}}</p>
             </div>
        </div>
    </div>
</a>
