<div class="menu">
  <div class="list-group">
    <a *ngIf="usuario.datos.pPerfilTodos || usuario.usuario == actual" class="list-group-item" (click)="irA('Cuenta')"><span class="glyphicon glyphicon-user"> Cuenta </span></a>
    <a *ngIf="usuario.datos.cPerfilTodos || usuario.usuario == actual" class="list-group-item" (click)="irA('Contenido')"><span class="glyphicon glyphicon-folder-open" > Contenido </span></a>
    <a *ngIf="usuario.usuario == actual" class="list-group-item" (click)="irA('Ajustes')"><span class="glyphicon glyphicon-cog"> Ajustes </span></a>
    <a *ngIf="usuario.datos.aPerfilTodos || usuario.usuario == actual" class="list-group-item" (click)="irA('Amigos')"><span class="glyphicon glyphicon-globe"> Amigos </span></a>
  </div>
</div>
