<div class="row fondo">
   <div class="logo2 fondoRed margen">
        <img src="img/analisis.png"/>
        <span>Análisis</span>
   </div>

   <div class="col-md-12">
        <div class="tabpanel">
            <ul class="nav nav-tabs">
                <li class="active pestaña">
                    <a data-toggle="tab" href="#vjuegos">
                        <img src="img/juegos.png" class="icono"><span id="spanTab"> Videojuegos</span>
                    </a>
                </li>
                <li class="pestaña">
                    <a data-toggle="tab" href="#series">
                        <img src="img/series.png" class="icono"><span id="spanTab"> Series</span>
                    </a>
                </li>
                <li class="pestaña">
                    <a data-toggle="tab" href="#peliculas">
                        <img src="img/pelis.png" class="icono"><span id="spanTab"> Películas</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <!--Tab juegos-->
                <div id="vjuegos" class="tab-pane fade in active">
                    <div class="col-md-12 fondo2">
                        <div class="dropdown filtro margen">
                            <button class="btn botonRed dropdown-toggle" data-toggle="dropdown" id="filtro1"
                            aria-haspopup="true" aria-expanded="true">Filtrar los análisis <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="filtro1">
                                <li><a href="#">Acción</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Indie</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Aventura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Estrategia</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Rol</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Simuladores</a></li>
                            </ul>
                        </div>
                        <ul class="aLista" *ngFor="#cont of contenido">
                          <li *ngIf="cont.tipo=='Análisis' && cont.categoria=='Juegos'">
                            <a (click)="gotoDetail(cont)" class="noticia">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="cartel">
                                    <img src="{{cont.multimedia.url}}">
                                    <p>{{cont.resumen}}</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>


                        <div class="more">
                            <button class="btn botonRed">Cargar más...</button>
                        </div>
                    </div>
                </div>

                <!--Tab series-->
                <div id="series" class="tab-pane fade">
                    <div class="col-md-12 fondo2">
                        <div class="dropdown filtro margen">
                            <button class="btn botonRed dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="filtro2"
                            aria-expanded="true">Filtrar los análisis
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filtro2">
                                <li><a href="#">Acción</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Animación</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Aventura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Ciencia Ficción</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Comedia</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Drama</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Infantil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Intriga</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Musical</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Romance</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Terror</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Thriler</a></li>
                            </ul>

                        </div>
                        <ul class="aLista" *ngFor="#cont of contenido">
                          <li *ngIf="cont.tipo=='Análisis' && cont.categoria=='Series'">
                            <a (click)="gotoDetail(cont)" class="noticia">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="cartel">
                                    <img src="{{cont.multimedia.url}}">
                                    <p>{{cont.resumen}}</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>

                        <div class="more">
                            <button class="btn botonRed">Cargar más...</button>
                        </div>
                    </div>
                </div>

                <!--Tab películas-->
                <div id="peliculas" class="tab-pane fade">
                    <div class="col-md-12 fondo2">
                        <div class="dropdown filtro margen">
                            <button class="btn botonRed dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="filtro3"
                            aria-expanded="true">Filtrar los análisis
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="filtro2">
                                <li><a href="#">Acción</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Animación</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Aventura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Ciencia Ficción</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Comedia</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Drama</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Infantil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Intriga</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Musical</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Romance</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Terror</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Thriler</a></li>
                            </ul>
                        </div>
                        <ul class="aLista" *ngFor="#cont of contenido">
                          <li *ngIf="cont.tipo=='Análisis' && cont.categoria=='Peliculas'">
                            <a class="noticia" (click)="gotoDetail(cont)">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="cartel">
                                    <img src="{{cont.multimedia.url}}">
                                    <p>{{cont.resumen}}</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>

                        <div class="more">
                            <button class="btn botonRed">Cargar más...</button>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
