<div class="footer_content row">
  <br>
  <div>
    <p class="footer">¿Quieres mantenerte al día?</p>
    <p class="footer">Síguenos en las redes sociales:</p>
    <div class="redes">
      <center>
        <a href="https://es.linkedin.com/" role="button">
          <img src="./img/link_logo.png">
        </a>
        <a href="https://twitter.com/?lang=es" role="button">
          <img src="./img/logo_twiter.png">
        </a>
        <a href="https://plus.google.com/collections/featured?hl=es" role="button">
          <img src="./img/plus_logo.png">
        </a>
      </center>
    </div>
  </div>
  <br>
  <footer>&#169; Gamer Generation</footer>
</div>
