<!-- Mural de gente -->
<div *ngIf="visible" class="row">
  <div class="col-md-2">
    <button class="btn btn-danger" (click)="volver()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver </button>
  </div>
  <!-- Amigos  -->
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body amigos">
        <ul class="amigos">
          <div *ngFor="#gente of usuarios">
            <li *ngIf="gente.usuario != actual"  (click)="irConcreto(gente)">
              <img *ngIf="gente.usuario != actual && gente.imagen != null" style = "width: 60%; height: 60%" src="images/{{gente.imagen.url}}"/>
              <p *ngIf="gente.usuario != actual"> Usuario: {{gente.usuario}} </p>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
