<div class="row fondo" *ngIf="visible">
    <div class="col-xs-12 col-md-8">
      <h1> {{contenido.titulo}} </h1>
      <hr class="red_hr">
      <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item im_noticia" src="images/{{contenido.dest.imgn.url}}"/>
      </div>
      <hr>
      <p> {{contenido.cuerpo}}
      </p>

      <hr>
      <h3>Comentarios:</h3>
      <hr>
      <div *ngIf="visible" class="panel panel-danger comentarios">
        <div class="panel-heading">Comentarios</div>
        <div class="panel-body">
          <div *ngFor="#coment of contenido.comentarios">
            <comentarios [comentario]="coment"></comentarios>
          </div>
        </div>
      </div>


      <div *ngIf="loged && visible_usuario" class="panel panel-danger comentarios respuesta">
       <div class="panel-heading">
         <button type="button" class="btn btn-primary btn_respuesta" onclick="document.getElementById('oculto').style.display = 'block';"><span class="glyphicon glyphicon-plus"></span> Responder</button></div>
       <div class="panel-body" id="oculto" style='display:none;'>
         <div class="col-md-12 col-xs-12 respuesta">
           <header class="col-md-2 col-xs-2">
             <dl>
               <dd><img *ngIf="visible_usuario && usr.imagen != null" src="images/{{usr.imagen.url}}"></dd>
               <dd><a>{{usr.usuario}}</a></dd>
             </dl>
           </header>
           <div class="col-sm-10 col-xs-10">
             <div class="text col-sm-12 col-xs-12">
               <div class="col-sm-10">
                 <p>Mensaje:</p>
                 <textarea class="mens" [(ngModel)]="respuesta">Escribe</textarea>
               </div>
             </div>
             <button (click)="enviarcomentario()" id="btn_enviar" class="col-sm-2 col-xs-12">Enviar</button>
             <div *ngIf="error" class="msg_error"><p >Debe introducir una puntuación entre 1 y 10</p></div>
           </div>
         </div>
       </div>
       </div>

    </div>

      <div class="col-xs-6 col-md-4">
        <div>
          <h2>Noticias relacionadas</h2>
          <hr>
          <a href="http://www.vandal.net/avances/ps4/call-of-duty-black-ops-iii/30391/7">
          <h4>Eclipse de Call of Duty: Black Ops III para PlayStation 4</h4>
          </a>
          <hr>
          <a href="http://www.vandal.net/juegos/ps4/dying-light-the-following-enhanced-edition/34932">
          <h4>Dying Light: The Following - Enhanced Edition</h4>
          </a>
          <hr>
          <a href="http://www.elgrupoinformatico.com/comparativa-playstation-oculus-rift-htc-vive-samsung-gear-t28727.html">
          <h4>Comparativa: PlayStation VR, Oculus Rift, HTC Vive y Samsung Gear VR</h4>
          </a>
        </div>
      </div>
  </div>
