<div class="row fondo">
   <div class="logo2 fondoRed margen">
        <img src="img/analisis.png"/>
        <span>Análisis</span>
   </div>

   <div class="col-md-12">
        <div class="tabpanel">
            <ul class="nav nav-tabs">
                <li class="active pestaña">
                    <a data-toggle="tab" href="#vjuegos">
                        <img src="img/juegos.png" class="icono"><span id="spanTab"> Videojuegos</span>
                    </a>
                </li>
                <li class="pestaña">
                    <a data-toggle="tab" href="#series">
                        <img src="img/series.png" class="icono"><span id="spanTab"> Series</span>
                    </a>
                </li>
                <li class="pestaña">
                    <a data-toggle="tab" href="#peliculas">
                        <img src="img/pelis.png" class="icono"><span id="spanTab"> Películas</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <!--Tab juegos-->
                <div id="vjuegos" class="tab-pane fade in active">
                    <div class="col-md-12 fondo2">

                        <ul class="aLista" *ngFor="#cont of contAux">
                          <li *ngIf="cont.tipo=='Análisis' && cont.categoria=='Juegos'">
                            <a (click)="gotoDetail(cont)" class="noticia">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="cartel">
                                    <img src="{{cont.multimedia.url}}">
                                    <p>{{cont.resumen}}</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>

                    </div>
                </div>

                <!--Tab series-->
                <div id="series" class="tab-pane fade">
                    <div class="col-md-12 fondo2">
                        <ul class="aLista" *ngFor="#cont of contAux">
                          <li *ngIf="cont.tipo=='Análisis' && cont.categoria=='Series'">
                            <a (click)="gotoDetail(cont)" class="noticia">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="cartel">
                                    <img src="{{cont.multimedia.url}}">
                                    <p>{{cont.resumen}}</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>

                    </div>
                </div>

                <!--Tab películas-->
                <div id="peliculas" class="tab-pane fade">
                    <div class="col-md-12 fondo2">
                        <ul class="aLista" *ngFor="#cont of contAux">
                          <li *ngIf="cont.tipo=='Análisis' && cont.categoria=='Peliculas'">
                            <a class="noticia" (click)="gotoDetail(cont)">
                              <div class="panel panel-danger">
                                <div class="panel-heading">
                                  <h3 class="panel-title">{{cont.titulo}} - {{cont.fecha}}</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="cartel">
                                    <img src="{{cont.multimedia.url}}">
                                    <p>{{cont.resumen}}</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>

                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
